!!!5
%html
  %head
    %title Error Fun
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    %script{:src => "/javascripts/error-catcher.js"}
  %body
    ERROR!
    :javascript
      for (l in lol

